-bash
curl
htop
nano
vim-full
luci-i18n-base-zh-cn
luci-i18n-opkg-zh-cn
luci-app-firewall
luci-i18n-firewall-zh-cn
luci-app-nlbwmon
luci-i18n-nlbwmon-zh-cn
luci-theme-argon
luci-app-passwall
luci-i18n-passwall-zh-cn
luci-app-openclash
luci-app-ddns
luci-app-openvpn-server
luci-app-zerotier
luci-app-frps
luci-app-aliddns_0.4.2-9_all.ipk
luci-app-mosdns_git-25.256.31248-1758fd5_all.ipk
luci-i18n-mosdns-zh-cn_git-23.309.43711-74d15c2_all.ipk
